* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: lightslategrey;

}
.Titulo {
    background-color: beige;
    font-size: 50px;
    text-align: center;
    padding: 20px;
    border: none;
}
fieldset {
    border: 5px solid #000; 
    padding: 10px; 
    border-radius: 10px;
}
#ProductosBajos {
    width: 100%; /* Ocupa el 100% del ancho del contenedor */
    border-collapse: collapse; /* Colapsar bordes */
    margin-top: 20px; /* Espacio superior */
}

th, td {
    border: 1px solid #ccc; /* Borde de las celdas */
    padding: 10px; /* Espaciado interno */
    text-align: center; /* Centrar texto */
}

th {
    background-color: #f2f2f2; /* Color de fondo para los encabezados */
    font-weight: bold; /* Negrita para encabezados */
}

tr:nth-child(even) {
    background-color: #f9f9f9; /* Color de fondo para filas pares */
}

tr:hover {
    background-color: #f1f1f1; /* Color de fondo al pasar el mouse sobre una fila */
}
p{
    font-size:30px;

}
legend.Principal{
    font-size:25px;
}
a{
    color: darkblue;
}
div.Error{
 font-size:25px;

}
.gif-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px; /* Ajusta el tamaño del contenedor a lo que prefieras */
    height: 1200px;
    margin: 20px auto; /* Centra el contenedor horizontalmente */
    overflow: hidden; /* Recorta el contenido que se salga del contenedor */
    border-radius: 10px; /* Opcional: para bordes redondeados */
    position: relative; /* Asegura que el contenedor sea el relativo principal */
}

    .gif-container img {
        width: 50%; /* Ajusta el ancho del GIF al 100% del contenedor */
      

        position: absolute;
    }